body {
    background-image: url('background.jpg');
    overflow-x: hidden;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #626668;
}

h2 {
    text-align: left;
    padding-top: 5%;
    color: #d2cbc4;
}

h4 {
    text-align: left;
    padding-top: 2%;
    padding-left: 23%;
    color: #626567; 
}

#system { padding-left: 30%;}
#mercury { padding-left: 30%;}
#venus { padding-left: 32%;}
#earth { padding-left: 33%;}
#mars { padding-left: 33%;}
#jupiter { padding-left: 31%;}
#saturn { padding-left: 32%;}
#uranus { padding-left: 31%;}
#neptune { padding-left: 31%;}
#introduction1 { padding-left: 33%;}

p {
    text-align: justify;
}

#img-main {
    float:right;
   position:relative;
   max-width: 70%;
   height: auto;
   left: 5.5%;
}

#img {
    float:right;
   position:relative;
   max-width: 40%;
   height: auto;
   left: 5.5%;
}

#img2 {
    float:left;
    position:relative;
    max-width: 50%;
    width: 48%;
    height: auto;
    left: 5.5%;
    padding-right: 5%;

  }
  #img3 {
    position:relative;
    max-width: 50%;
    width: 40%;
    height: auto;
    left: 5.5%;

  }


.introduction {
    color:#d2cbc4;
    font-size: 26%;
    padding-right: 10%;
    padding-left: 10%;
}

.on_this_page_nav {
    display: block;
    float:left;
    position:relative;
    box-sizing: border-box;
    padding-left: 10%;
    border:1%;
    margin:10%;
}

a { color: #d2cbc4;}

.pragraphiiis{
padding-top: 24%;
text-align: left;
color:#d2cbc4;
font-size: 26%;
padding-right: 16%;
padding-left: 16%;
}
.container{
text-align: left;
color:#d2cbc4;
font-size: 26%;
padding-right: 10%;
padding-left: 16%;
}
#surface{
padding-left: 44%;

}

.cards{
width:70%;
    font-size: medium;
    padding-top: 5%;
    padding-right: 5%;
    left:20%;
    color:black;
}

#button{
    
    padding-left:22.7%;
    padding-top:2%;
    
}

#nav-title {padding-left: 35%;}
#size{margin-left: 22%;}
#size1{margin-left: 13%;}

#structure{margin-left: 19%;}
#structure1{margin-left: 22%;}

#facts{margin-left: 18%;}

.card {
    width:80%;
    margin-left:10%;
    margin-right:30%;

}

#third {margin-top: 3%;}

#forth {margin-top: 3%;}

#fifth {margin-top: 6%;}

#sixth {margin-top: 6%;}

.help {opacity: 0.2;}
